# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
#.tox/
#.coverage
#.cache
#nosetests.xml
#coverage.xml

# Translations
*.mo

# Mr Developer
#.mr.developer.cfg
#.project
#.pydevproject

# Rope
#.ropeproject

# Django stuff:
*.log
*.pot

/media_uploads/
/media/
/static/
/private/
/tmp/
/log/
/data/

/static_collect/

pg_dump_*
cache.sqlite
dump.rdb

.DS_Store
.idea
.directory
.env

.vagrant/*

scripts/valacdos.js
data/getChBankData.js

celery-*.pid
gunicorn.pid

/*.sql
*.dump

*.sqlite3
